.about{
    width: 100%;
    padding: 120px 0;

    &__h4{
        font-size: 30px;
        font-weight: 600;  
        // @media (max-width:765px) { below code works like }
        @include responsive(765px){
            text-align: center;
        }
    }

    &__text p{
        font-size: 15px;
        font-weight: 500;
        line-height: 2;
        color: #777;
        padding-left: 50px;

        @include responsive(765px){
            text-align: center;
            padding: 0px;
        }
    }
    
    &__section{
        background: #efefef;
        padding: 60px;
        text-align: center;

        &-icon{
         color: $green;
         margin-bottom: 20px;
        }

        &-heading h6{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        &-text{
            font-size: 15px;
            color: grey;
            text-align: center;
        }
    }
    
}


    