.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    // background: transparent;
    top: 0;
    height: 80px;
    transition: all 0.4s linear;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;

    &__content{
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }
    
    &__left img{
        width: 50px;
        height: auto;
    }

    &__right {
        display: flex;
        list-style: none;

          li  {
            font-weight: 400;
            padding: 15px 7px;
            margin: 10px 15px;
            text-decoration: none;
            color: $white;
            font-size: 16px;
            @include responsive(765px){
                font-size: 10px;
                padding: 15px 5px;
            }
        }
    }
}

